.login-wrapper-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.login-wrapper:hover{
    cursor: pointer;
    box-shadow: whitesmoke 4px 4px 4px  ;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    width: 300px;
    height: fit-content;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(49, 48, 48) ,rgb(156, 150, 150));
    cursor: pointer;
   
}
.login-wrapper-1 p{
    color: rgb(255, 255, 255);
}
.login{
    display: flex;
    justify-content: center;
}